

.big_box {
    margin-left: 10px; 
    margin-right: 10px; 
    margin-top: 15px; 
    background-color: whitesmoke;
}

.cookie_box {
    margin: 25px; 
    background-color: orange; 
    border-radius: 10px; 
    color: white;
    z-index: 100;
}

.border_15 {
    border-radius: 15px;
}

.margin_box_50 {
    margin: 50px;
}

.margin_box_25 {
  margin: 25px;
}


.cb-cookie-banner { 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 100%; 
  background-color: #333;
  color: #fff;
  z-index: 9999;
  padding: 10px 0;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
}

.custom-menu-cookie {
  background-color: #d7812b;;
  color: white;
  border-color: #d7812b;;
  border-radius: 5px;
}

.custom-menu-cookie:hover {
  background-color: white;
  border-color: white;
  color: #d7812b;;
}

.one_box {
  margin: 66px;
}

.one_box_2 {
  margin: 45px;
}

.title_line {
  text-align: center; 
  color: white; /* lightslategray; */

}

.title_line_modal {
  text-align: center; 
  color: white; /* lightslategray; */

}


.title_line_top {
    text-align: center; 
    color: #d7812b;
    margin: 15px;
  
  }


.btn.custom-menu-1:focus {
    outline: none;
    box-shadow: none;
  }

.btn.custom-menu-1 {
    border: whitesmoke; /* none; */
    background-color: transparent; /* whitesmoke; */
    color: white; /* #d7812b; */
  }





  body {
    background-image: url('radioback.jpg'); /* Путь к вашему изображению */
    background-size: cover;
    background-attachment: fixed; /* Фиксированный фон */
    background-position: center;
}


.big_box::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: inherit; /* Наследуем фон из body */
    background-size: cover;
    background-position: center;
    filter: blur(7px); /* Размытие для фона */
    background-color: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный слой для затемнения */
    z-index: -1; /* Отправляем слой за контент */
}


.modal-content {
  background-color: #282524;
}


.btn-close {
  background-color: white; /* orange; */
  border-radius: 50px;
}

.modal-title {
  color: #d7812b;
}

.wp-image-155 {
  border-radius: 20px;
}